# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://interactive-map-db:5432/interactive-map-db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Mail (Gmail SMTP)
SUPPORT_EMAIL=your-email@gmail.com
APP_PASSWORD=your-gmail-app-password

# JWT
JWT_SECRET_KEY=your-base64-encoded-secret-key
